<body id="page-top" class="modern">

    <!-- Instructions: Set your background image using the URL below. -->
    <header style="background-image: url('assets/xx/ribs-header.jpg')">
    
    <div class="intro-content">
        <img src="assets/logo/HF-Logo-Lndscape.jpg" class="img-responsive img-centered" alt="">
        <div class="brand-name-subtext">
        <a><br>
        <% if @headlines.count >0 %>
          <%if @headlines[0].url.blank? %>
            <%= link_to @headlines[0].leadtext, "#" %></a>
            <% else %>
          <%= link_to @headlines[0].leadtext, @headlines[0].url %></a>
          <% end%>
          <% else %>
          <% end %>
        </div>
      </div> 
   
        <div class="scroll-down">
            <a class="btn page-scroll" href="#values"><i class="fa fa-angle-down fa-fw"></i></a>
        </div>
   </header>
    

    <aside class="cta-quote" style="background-image: url('assets/background/ribs-header.jpg');">
        <div class="container wow fadeIn">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <span class="quote">Great barbecue takes time, love and a true understanding of the alchemy of smoke and meat.</span>
                    <hr class=" colored">
                    <a class="btn btn-outline-light page-scroll" href="#contact">Try Some of Ours</a>
                </div>
            </div>
        </div>
    </aside>
    
    
    
    <section id="values" class="services">
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-12 wow fadeIn">
                <h2>SLOW 'N' LOW</h2>
                <hr class="colored">
                <p>At Hang Fire Somehouse we smoke the finest meat we can get our hands on, in the best traditions of American barbecue.
                <br>We are passionate about provenance, for example, we use free range pork from a farm local to us in the Vale of Glamorgan.
                <br>Our menus vary from event to event (that is the beauty of being a pop-up), 
                but you can expect the finest slow and low classics such as 21hr Smoked Pulled Pork, 12hr Smoked Brisket, PGI Beef or Pedigree Pork Texas Hot Links, 8hr Smoked Pork Belly, 9hr Smoked Pork Ribs, 12hr Smoked Beef Ribs and a whole host of equally delicious side dishes.
                <br>We don’t use MSG and a lot of our cooking is gluten free.</p>
            </div>
        </div>
        
        <div class="row content-row">
            <div class="col-md-4 wow fadeIn" data-wow-delay=".2s">
                <div class="media">
                    <div class="pull-left">
                        <i class="fa fa-cutlery"></i>
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">Meat</h3>
                        <ul>
                            <li><em>Fresh, local ingredients</em>
                            </li>
                            <li><em>Complex flavor profiles</em>
                            </li>
                            <li><em>Authentic BBQ meat cuts</em>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 wow fadeIn" data-wow-delay=".4s">
                <div class="media">
                    <div class="pull-left">
                        <i class="fa fa-fire"></i>
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">Smoke</h3>
                        <ul>
                            <li><em>Only real wood smoke</em>
                            </li>
                            <li><em>Only indirect heat</em>
                            </li>
                            <li><em>Unrivalled portions</em>
                            </li> 
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 wow fadeIn" data-wow-delay=".6s">
                <div class="media">
                    <div class="pull-left">
                        <i class="fa fa-users"></i>
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">Friends</h3>
                        <ul>
                            <li><em>Street food and festivals</em>
                            </li>
                            <li><em>Running bbq lover events</em>
                            </li>
                            <li><em>Active social network</em>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="people" class="bg-gray">
    <div class="container text-center wow fadeIn">
        <div class="row">
            <div class="col-lg-12">
                <h2>Sam & Shauna</h2>
                <p>Samantha Evans and Shauna Guinn traveled to America in 2012 – 2013 on a roadtrip of epic proportions to find out ‘what exactly is american barbecue?’. Their mission was to attend masterclasses, listen to pearls of wisdom from backyard and competition ‘cuers’ alike and try as much barbecue as possible.</p>
                <hr class="colored">
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
            <div align="center">
            
                <img src="assets/people/sam_shauna.jpg" class="img-responsive" alt="" height="300" width="300"></div>       
            
            </div></div>
                <hr class="colored">
                <p><em>Hang Fire Smokehouse Founders</em></p>
        </div>
        </div>
    </div>
</section>
    
<section class="cta-form bg-dark">
    <div class="container text-center">
        <h3>Subscribe to our newsletter!</h3>
        <hr class="colored">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <!-- MailChimp Signup Form -->
                <div id="mc_embed_signup">
                    <!-- Replace the form action in the line below with your MailChimp embed action! For more informatin on how to do this please visit the Docs! -->
                    <form role="form" action="//startbootstrap.us3.list-manage.com/subscribe/post?u=531af730d8629808bd96cf489&amp;id=afb284632f" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" novalidate>
                        <div class="input-group input-group-lg">
                            <input type="email" name="EMAIL" class="form-control" id="mce-EMAIL" placeholder="Email address...">
                            <span class="input-group-btn">
                                <button type="submit" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary">Subscribe!</button>
                            </span>
                        </div>
                        <div id="mce-responses">
                            <div class="response" id="mce-error-response" style="display:none"></div>
                            <div class="response" id="mce-success-response" style="display:none"></div>
                        </div>
                    </form>
                </div>
                <!-- End MailChimp Signup Form -->
            </div>
        </div>
    </div>
</section>

    <section id="press" class="testimonials bg-gray">
        <div class="container wow fadeIn">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Twitter</h2>
                    <hr class="colored">
                    <p>Latest tweets ...</p>
                </div>
            </div>
            
            <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/search?q=%40hangfirebbq" data-widget-id="618058486388256768">Tweets about @hangfirebbq</a> 
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>         
    </section>
 
    <section id="hours" class="pricing" style="background-image: url('assets/background/brisket.jpg')">
        <div class="container wow fadeIn">
            <div class="row text-center">
                <div class="col-lg-12">
                    <h2>SHOP</h2>
                    <hr class="colored">
                    <p>Hang Fire Smokehouse products to make your BBQ better.</p>
                </div>
            </div>
            <div class="row content-row">
                <div class="col-md-4">
                    <div class="pricing-item">
                        <h3>Sauces</h3>
                        <hr class="colored">
                        <ul class="list-group">
                            <li class="list-group-item"><em>Kansas City Barbecue Sauce</em>
                            </li>
                            <li class="list-group-item"><em>South Carolina Mustard Sauce</em>
                            </li>
                            <li class="list-group-item"><em>Texas Espresso Barbecue Sauce sauce</em>
                            </li>
                            <li class="list-group-item"><em>Gift Pack - all 3</em>
                            </li>
                        </ul>
                        <hr class="colored">
                        <a href="http://www.amazon.co.uk/Bulls-Eye-BBQ-Sauce-Hickory-Smoke/dp/B000612XM6/ref=sr_1_1?ie=UTF8&qid=1436016681&sr=8-1&keywords=bbq+sauce" class="btn btn-outline-dark">Buy Now at Amazon</a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="pricing-item">
                        <h3>Rubs</h3>
                        <hr class="colored">
                        <ul class="list-group">
                            <li class="list-group-item"><em>Rub for Pork</em>
                            </li>
                            <li class="list-group-item"><em>Rub for Beef</em>
                            </li>
                            <li class="list-group-item"><em>Rub for Chicken</em>
                            </li>
                            <li class="list-group-item"><em>Gift Pack - all 3</em>
                            </li>
                        </ul>
                        <hr class="colored">
                        <a href="http://www.amazon.co.uk/Bulls-Eye-BBQ-Sauce-Hickory-Smoke/dp/B000612XM6/ref=sr_1_1?ie=UTF8&qid=1436016681&sr=8-1&keywords=bbq+sauce" class="btn btn-outline-dark">Buy Now at Amazon</a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="pricing-item">
                        <h3>Other Stuff</h3>
                        <hr class="colored">
                        <ul class="list-group">
                            <li class="list-group-item"><em>T- Shirts</em>
                            </li>
                            <li class="list-group-item"><em>Kitchen Kit</em>
                            </li>
                            <li class="list-group-item"><em>Smoking Accessories</em>
                            </li>
                            <li class="list-group-item"><em>Custom Built Smokers</em>
                            </li>
                        </ul>
                        <hr class="colored">
                        <a href="http://www.amazon.co.uk/Bulls-Eye-BBQ-Sauce-Hickory-Smoke/dp/B000612XM6/ref=sr_1_1?ie=UTF8&qid=1436016681&sr=8-1&keywords=bbq+sauce" class="btn btn-outline-dark">Buy Now at Amazon</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    
    
    <section id="gallery">
        <div class="container wow fadeIn">
            <div class="row text-center">
                <div class="col-lg-12">
                    <h2>Gallery</h2>
                    <hr class="colored">
                    <p>Gallery from recent food events and festivals.</p>
                </div>
            </div>
            
             <div class="row content-row">
              <div class="col-md-3">
                    <a href="assets/menu/blackboard.jpg" class="gallery-link" title="Street Food Board">
                    <img src="assets/menu/blackboard.jpg" class="img-responsive img-centered" alt="" height="200" width="200"> </a>
              </div>
                      
              <div class="col-md-3"> 
                  <a href="assets/menu/sauces.jpg" class="gallery-link" title="Sauces">
                  <img src="assets/menu/sauces.jpg" class="img-responsive img-centered" alt="" height="200" width="200"> </a>
               </a>
              </div>
                        
              <div class="col-md-3"> 
                            <a href="assets/menu/chicken.jpg" class="gallery-link" title="Smoked Yard Birds">
                            <img src="assets/menu/chicken.jpg" class="img-responsive img-centered" alt="" height="200" width="200"> </a>
                      </a>
              </div>
              
              <div class="col-md-3"> 
                            <a href="assets/menu/sandwich.jpg" class="gallery-link" title="Pastrami Sandwich">
                            <img src="assets/menu/sandwich.jpg" class="img-responsive img-centered" alt="" height="200" width="200"> </a>
                      </a>
              </div>
            </div>
            <div class="row content-row">
             <div class="col-md-3">
                   <a href="assets/people/bigmama.jpg" class="gallery-link" title="Street Grill">
                   <img src="assets/people/bigmama.jpg" class="img-responsive img-centered" alt="" height="200" width="200"> </a>
             </div>
             <div class="col-md-3">
                   <a href="assets/people/sam.jpg" class="gallery-link" title="Sam Sandwich">
                   <img src="assets/people/sam.jpg" class="img-responsive img-centered" alt="" height="200" width="200"> </a>
             </div>
              </div>
     
        </div>
    </section>
    
    
    
    
    <a href="http://www.amazon.co.uk/Bulls-Eye-BBQ-Sauce-Hickory-Smoke/dp/B000612XM6/ref=sr_1_1?ie=UTF8&qid=1436016681&sr=8-1&keywords=bbq+sauce" class="btn btn-block btn-full-width">Shop Hang Fire Smokehouse now!</a>
    <footer class="footer" style="background-image: url('assets/background/bg-footer.jpg')">
        <div class="container text-center">
         <section id="contact">
            <div class="row">
                <div class="col-md-4 contact-details">
                    <h4><i class="fa fa-phone"></i> Call</h4>
                    <p>02902-999-999</p>
                </div>
                <div class="col-md-4 contact-details">
                    <h4><i class="fa fa-map-marker"></i> Visit</h4>
                    <p>Hang Fire Smokehouse
                        <br>The Butchers Shop<br> Llantwit Major
						<br>Wales</p>
                </div>
                <div class="col-md-4 contact-details">
                    <h4><i class="fa fa-envelope"></i> Email</h4>
                    <p><a href="mailto:mail@example.com">hangfire@google.com</a>
                    </p>
                </div>
            </div>
            <div class="row social">
                <div class="col-lg-12">
                    <ul class="list-inline">
                        <li><a href="https://www.facebook.com/pages/Hang-Fire-Smokehouse/203591489778567"><i class="fa fa-facebook fa-fw fa-2x"></i></a>
                        </li>
                        <li><a href="https://twitter.com/hangfirebbq"><i class="fa fa-twitter fa-fw fa-2x"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row copyright">
                <div class="col-lg-12">
                    <p class="small">&copy; 2015 Start Bootstrap Themes</p>
                </div>
            </div>
        </div>
        </section>
    </footer>
    <!-- Core Scripts -->
    <script src="assets/javascripts/jquery.js"></script>
    <script src="assets/javascripts/bootstrap.min.js"></script>
    <!-- Plugin Scripts -->
    <!-- script src="assets/javascripts/plugins/jquery.easing.min.js"></script>
    <script src="assets/javascripts/plugins/classie.js"></script>
    <script src="assets/javascripts/plugins/cbpAnimatedHeader.js"></script>
    <script src="assets/javascripts/plugins/owl-carousel/owl.carousel.js"></script>
    <script src="assets/javascripts/plugins/jquery.magnific-popup/jquery.magnific-popup.min.js"></script>
    <script src="assets/javascripts/plugins/jquery.fs.wallpaper.js"></script>
    <script src="assets/javascripts/plugins/jquery.mixitup.js"></script>
    <script src="assets/javascripts/plugins/wow/wow.min.js"></script>
    <script src="assets/javascripts/contact_me.js"></script>
    <script src="assets/javascripts/plugins/jqBootstrapValidation.js"></script> -->
    <!-- Vitality Theme Scripts -->
    <script src="assets/javascripts/vitality.js"></script>
  
</body>